/.idea/

/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/jwt
/var/jwt/*
!var/jwt/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/storage
/var/storage/*
!var/storage/.gitkeep
!/var/data
/var/data/*
!var/data/.gitkeep

/vendor/
/web/bundles/
!var/SymfonyRequirements.php

/app/config/parameters.yml
/app/config/parameters_test.yml

/php_cs
